/* Reset básico e configurações de fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #2c3e50;
}

/* Links */
a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}
